*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 100px 500px 100px;
}
body{
    background-color: antiquewhite;
    padding: 10px;

}
header, nav, article, footer{
    padding: 20px;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: rgb(255, 83, 112);
    grid-column-start: 1;
    grid-column-end: 3;
}
nav{
    background-color: rgb(255, 103, 129);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;;
}
article{
    background-color: rgb(255, 142, 161);
    grid-column-start: 1;
    grid-column-end: 3;
}
footer{
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 3;
}